<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="ToDosDbEntities" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\LOTS\ape\ToDoApp Project\ApplicationDbModel.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="UsersDbEntities1" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\LOTS\ape\ToDoApp Project\ApplicationDbModel.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ToDoApp_Project.Properties.Settings.ApplicationDbModelConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\LOTS\ape\ToDoApp Project\ApplicationDbModel.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ApplicationDbModelEntities" connectionString="metadata=res://*/Model.UsersDbEntities.csdl|res://*/Model.UsersDbEntities.ssdl|res://*/Model.UsersDbEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\LOTS\ape\ToDoApp Project\ApplicationDbModel.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ApplicationDbModelEntities1" connectionString="metadata=res://*/Model.ToDos.csdl|res://*/Model.ToDos.ssdl|res://*/Model.ToDos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ApplicationDbModel.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ToDoDbEntities" connectionString="metadata=res://*/Model.ToDo.csdl|res://*/Model.ToDo.ssdl|res://*/Model.ToDo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ApplicationDbModel.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserDbEntities" connectionString="metadata=res://*/Model.User.csdl|res://*/Model.User.ssdl|res://*/Model.User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ApplicationDbModel.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>